header {
	height: 50px;
	margin-bottom: 30px;
}

h1 {
	margin: 25px 20px 0 20px;
	float: left;
	font-family: 'Oleo Script', cursive;
}

.web {
	float: left;
	margin: 31px 20px 0 20px;
	font-family: 'Courier New';
	font-size: 20px
}

.icons {
	float: right;
	margin: 21px 70px 0 0;
}

li {
	float: right;
	display: inline-block;
	list-style-type: none;
	margin: 0 20px;
	border-radius: 10px;
	border: 1px solid;
	padding: 7px 10px 7px 10px;
}

li a {
	text-decoration: none;
}

.git {
	border: 1px solid black;
}

.git-symbol {
	color: black;
}

.link {
	border: 1px solid #0e76a8;
}

.link-symbol {
	color: #0e76a8;
}

.medium {
	border: 1px solid #3cb371;
}

.medium-symbol {
	color: #3cb371;
}

section {
	margin: 0 20px;
}

.nav {
	height: 350px;
	padding-right: 0;
	overflow: hidden;
	background-color: black;
}

.nav img {
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
	-webkit-filter: opacity(.6);
	filter: opacity(.6);
}

.nav:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
	-webkit-filter: opacity(.2);
  filter: opacity(.2);
}

.work-nav {
	color: white;
	position: absolute;
  top: 32%;
  left: 42%;
	font-size: 70px;
	font-weight: bold;
	font-family: 'Oleo Script', cursive;
}

footer {
	height: 600px;
}
