header {
	height: 35px;
	margin-bottom: 30px;
}

h1 {
	margin: 17px 20px 0 20px;
	float: left;
	font-family: 'Oleo Script', cursive;
}

.web {
	float: left;
	margin: 23px 20px 0 20px;
	font-family: 'Courier New';
	font-size: 20px
}

.icons {
	float: left;
	margin: 16px 0 0 470px;
}

header li {
	float: left;
	display: inline-block;
	list-style-type: none;
	margin: 0 20px;
	border-radius: 10px;
	border: 1px solid;
	padding: 7px 10px 7px 10px;
}

header li a {
	text-decoration: none;
}

.git {
	border: 1px solid black;
}

.git-symbol {
	color: black;
}

.link {
	border: 1px solid #0e76a8;
}

.link-symbol {
	color: #0e76a8;
}

.medium {
	border: 1px solid #3cb371;
}

.medium-symbol {
	color: #3cb371;
}

.hamburger {
	float: right;
	position: absolute;
	right: 20px;
	top: 12px;
}

.sidenav {
    height: 40%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 30%;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
		opacity: .2;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*
section {
	margin: 0 20px;
}
*/

.nav {
	height: 295px;
	padding-right: 0;
	overflow: hidden;
	background-color: black;
	clear: right;
}

.nav img {
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
	-webkit-filter: opacity(.6);
	filter: opacity(.6);
}

.skills img {
	filter: opacity(.8);
}


.nav:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
	-webkit-filter: opacity(.2);
  filter: opacity(.2);
}

.skills:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-filter: opacity(.3);
	filter: opacity(.3);
}

.text-nav {
	color: white;
	position: absolute;
  top: 32%;
  left: 42%;
	font-size: 70px;
	font-weight: bold;
	font-family: 'Oleo Script', cursive;
}

main {
	clear: both;
}

.work {
	height: 620px;
}

.section-header {
	height: 100px;
}

h3 {
	font-family: 'Oleo Script', cursive;
	text-align: center;
	padding-top: 50px;
	margin: 0;
	font-size: 50px;
}

.proj-wrapper {
	margin-top: 70px;
}

.project img {
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
	display: block;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	opacity: .8;
}

.project:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
	opacity: .2;
}

.proj-title {
	position: absolute;
  top: 26%;
  left: 30%;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
}

.proj-desc {
	position: absolute;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, visibility .3s;
}

.project:hover .proj-desc {
	visibility: visible;
  opacity: 1;
}

.rec {
	color: black;
	font-family: 'Dosis', sans-serif;
}

.rec-desc {
	top: 53%;
  left: 25%;
}

.health {
	font-family: 'Arial Rounded MT Bold', sans-serif;
	color: #F88E79;
}

.health-desc {
	top: 53%;
  left: 22%;
}

.eleven {
	top: 23%;
	left: 42%;
	font-family: 'Oleo Script', cursive;
	color: black;
}

.eleven-desc {
	top: 50%;
  left: 35%;
}

.skills-section {
	height: 620px;
	background-color: #f0f0e0
}

.skills-wrapper {
	margin-top: 70px;
}

.skills-wrapper .col-md-4 ul {
	text-align: center;
	list-style-type: none;
	margin: 0 auto;
}

.skills-wrapper .col-md-4 ul li {
	padding: 15px 0;
	border: 2px black solid;
	margin: 30px 0;
	border-radius: 20px;
	font-weight: bold;
}



.about-section {
	height: 550px;
}

.about-wrapper {
	margin-top: 70px;
	font-family: 'Dosis', sans-serif;
}

.stats {
	margin-left: 10px;
}

h4 {
	text-decoration: underline;
}

.prof-pic {
	text-align: center;
}

.prof-pic img {
	margin-top: 0px;
	height: 250px;
	width: 300px;
	border-radius: 40px;
	margin-right: 40px;
}

.about-text {
	line-height: 30px;
	font-size: 15px;
}

.code-section {
	height: 620px;
	background-color: #efefef;
}

.code-wrapper {
	margin: 70px;
}

footer {

}
